.carrier-center-list{
  .item{
    &:first-of-type{
      padding: 2rem 1.0625rem .9375rem;
    }
    &:last-of-type{
      border-bottom: none;
    }
    border-bottom: .0625rem solid #EEEFF0;
    padding: 1rem 1.0625rem .9375rem;
    .content{
      display: flex;
      flex-direction:row;
      .right{
        background: #99B2FF;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.10);
        border-radius: .375rem;
        img {
          width: 6.25rem;
          height: 100%;
        }
      }
      .left {
        padding-left: 1rem;
        width: 13.625rem;
        .title{
          font-size: 1rem;
          color: #373737;
        }
        .introduction{
          font-size: .875rem;
          color: #888888;
          letter-spacing: 0.7px;
          line-height: .75rem;
          margin: 1.1875rem 0 1.0625rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .sum{
          font-size: .875rem;
          color: #888888;
        }
      }
    }

    .footer{
      display: flex;
      flex-direction: row;
      margin-top: .9375rem;
      height: 1.375rem;
      line-height: 1.375rem;
      font-size: 1rem;
      color: #373737;
      font-weight: bold;
      justify-content: space-between;
      p{
        height: 1.375rem;
        line-height: 1.375rem;
        font-size: 1rem;
        color: #373737;
        font-weight: bold;
      }
      img{
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}

.carrier-center-modal {
  background: #FFFFFF;
  border-radius: .375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container{
    min-width: 18rem;
  }
  .title {
    font-size: 1.125rem;
    color: #373737;
    letter-spacing: .05625rem;
  }

  .content{
    font-size: 1rem;
    color: #888888;
    text-align: left;
    line-height: 1.25rem;
    margin-left: .9375rem;
    margin-right: .9375rem;
    p{
      &:first-of-type{
         padding-top:0;
      }
      padding-top: 1.25rem;
    }
  }

  .footer{
    padding: 1.5625rem 1rem 1rem;
    .close{
      background-image: linear-gradient(90deg, #B7DEFF 0%, #9D9FFF 100%);
      border-radius: 6.25rem;
      color: #ffffff;
      font-size: 1.125rem;
      height: 2.5625rem;
    }
  }



}